<section class="cta-area" style="background-image:url({{site.baseurl}}assets/img/home/approach.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <br />
                    <h3 style="margin:2em 0;">Proudly serving more than 6,000 dining facilities on the east coast.</h3>
                    <a href="/approach" class="btn">Request a Quote</a>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
